<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title of the document</title>
    <link href="{{ asset('bundles/app/css/bootstrap.css') }}" rel="stylesheet" type="text/css" />
    <link href="{{ asset('bundles/app/css/default.css') }}" rel="stylesheet" type="text/css" />
</head>

<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <ul class="navigation">
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/producten">
                            Producten
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                {% for product in products %}
                    <div class="col-sm-3">
                        <a href="/producten/category/{{ product.link }}">
                            <div class="productCol">
                                {{ product.name }}
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>
