ul li {
    list-style-type: none;
}

ul li img {
    width: 100%;
}

.navigation {
    width: 100%;
    display: inline-block;
    background: #000;
}

.navigation li {
    float: left;
    margin-right: 20px;
}

.navigation li, .navigation li a {
    padding: 10px;
    color: #255625;
}

.navigation li a:hover {
    background: #fff;
}

.productCol {
    padding: 20px 5px;
    background: #e4b9b9;
    margin-bottom: 10px;
}